@model P3AddNewFunctionalityDotNetCore.Models.ViewModels.OrderViewModel

<h2>@Localizer["OrderTitle"]</h2>

<form asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3>@Localizer["ShipTo"]</h3>
    <div class="mb-3">
        <label>@Localizer["Name"]*:</label><input asp-for="Name" class="form-control" />
        
    </div>
    <h3>@Localizer["Address"]</h3>
    <div class="mb-3">
        <label>@Localizer["Location"]*:</label><input asp-for="Address" class="form-control" />
       
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label>@Localizer["City"]*:</label><input asp-for="City" class="form-control" />
            
        </div>
        <div class="col-4">
            <label>@Localizer["Zip"]*:</label><input asp-for="Zip" class="form-control" />
           
        </div>
        <div class="col-4">
            <label>@Localizer["Country"]*:</label><input asp-for="Country" class="form-control" />
          
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="@Localizer["CompleteOrder"]" />
    </div>
</form>
